#fondo{
  background-image: url(../recursos/blue-rug.png);
}
#titulo{
  color:  #B3FFED;
  text-align: center;
  font-size: 40px;
  margin-left:  20%;
  margin-right: 20%;
  border-bottom-width: : 2px;
  border-bottom-color:  #B3FFED;
  border-bottom-style:  solid;
}
#autor{
  text-align: center;
  color: #000066;
  margin-left: 15%;
}
#subtitulo{
  color:  #990066;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
.menuinicio{
  text-align: center;
  font-size: 20px;
  width: 200px;
}
.contenedor{
  color:#000066;
  text-align: justify;
  background-color:  #CCCCFF;
  float: left;
  width: 80%;
}
.inicio{
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}
.menu{
  color: #000066;
  float: left;
  width: 15%;
  border-left-width: : 2px;
  border-left-color: #FFFFCC;
  border-left-style:  solid;
}
.seleccion{
  font-weight: bold;
  background-color: #FFFFCC;;
    color:  #000066;
}
 a:active, a:visited, a {
    text-decoration: none;
      color:  #B3FFED;
}
a:hover{
  margin: 0%;
 text-transform: uppercase;
 font-family:
}

p{
  margin-left: 10%;
  margin-right: 10%;
  font-weight: bold;
}
strong{

}
li{
  margin-bottom: 1%;
  margin-right: 10%;
  margin-left: 10%;
}
.fotos{
  margin-left: 30%;
  margin-right: 30%;
}

.truman{
  width: 50%;
  margin-left: 30%;
}
